.nav-list {
  display: flex;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
}

.nav-list-item {
  margin: auto 20px;
  font-family: 'Times New Roman', Times, serif;
}

.login-form {
  display: flex;
  margin: 60px auto;
  width: 60%;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}

.listingLink {
  text-decoration-line: underline;
  font-family: 'Times New Roman', Times, serif;
}

.login-button {
  margin-top: 25px !important;
  font-family: 'Times New Roman', Times, serif;
}

.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Times New Roman', Times, serif;
}

ul {
  padding-inline-start: 20px;
  font-family: 'Times New Roman', Times, serif;
}